body {
  margin: 0;
}
div {
  height: 100vh;
  padding: 20px;
  font-size: 100px;
}
div:first-of-type {
  background-color: rgb(225, 200, 200);
}
div:nth-of-type(2) {
  background-color: rgb(218, 135, 135);
}
div:nth-of-type(3) {
  background-color: rgb(116, 89, 89);
}
.up {
  position: fixed;
  bottom: 20px;
  right: -50px;
  background-color: #ff5722;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: 0.2s;
}
.up.show {
  right: 20px;
}